/* Cascading Style Sheet for Blue Prism HTML Help */

body {
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
	color: #716F64;
}

h1
{ 
	font-size: 250%;
}
h2 { font-size: 150%; }
h3 { font-size: 130%; }
h4 { font-size: 110%;
	color: #0F4B8F;
 }
h5 { font-size: 100%; }
h6 { font-size: 100%; color: #aaa; }

p, ul, li, dl
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
	color: #716F64;
}

p {
	line-height: 110%;
	margin-top: 0.5em;
	margin-right: 15px;
}

div.header {
	background-color: #0F4B8F;
	min-height: 5em;
	padding-top: 1px;
}

div.para {
	padding: 0px 5px 5px 5px; 
}

div {
	width: 70%;
	margin-left: 15%;
}


h1
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: 250%;
	color: white;/*#D5E3EF; */
	text-align: center;
	 /* Ensure the logo isn't overwritten */
}

h2
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	color: #4682b4;
	border-top: 1px solid #aaa;
	clear: both;
}

h3 
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	color: #4682b4;
	margin-bottom: 0em;
	margin-top: 2em;
}

h5 {
	font-family: Arial, sans-serif;
	color: #504d42;
	margin-top: 3em;
	margin-bottom: 0;
}

dt {
	color: olive;
	width: 15em;
	float: left;
	font-weight: bold;
}

dd {
	display: table-row;
}

table
{
	width: 50%;
	border: 1px solid #9fa4c1;
	empty-cells: show;
	border-collapse: collapse;
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
	margin-left: 25%;
}


td 
{
	border: 1px solid #9fa4c1;
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #0F4B8F;
	background-color: white;
	text-align: left;
}

th
{
	color: white; /*#D5E3EF; */
	background-color: #0F4B8F;
}