/* Cascading Style Sheet for Blue Prism HTML Help */

body {
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
	color: #716F64;
}

h1 { font-size: 250%; }
h2 { font-size: 150%; }
h3 { font-size: 130%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; color: #aaa; }

acronym { cursor: help; border-bottom: 1px dotted gray; }
acronym:hover { color: purple; }

p, ul, li, dl
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
	color: #716F64;
}

p {
	line-height: 110%;
	margin-top: 0.5em;
}

pre {
	padding: 0.5em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	font-size: 100%; 
}
code {
	border: 1px dashed #eee;
	background-color: #f9f9f9;
	color: #600;
	font-size: 100%;
}

ol.address, ul.address { margin: 0 0 0 1.5em; padding: 0; }
ol.address li, ul.address li { list-style-type: none; }

/* Forces browser to shift the UL box, including list markers when
 * inlined by a floated image. Without this, it just shifts content. */
ul.image-inlined { overflow:hidden; padding-left:2em }

ul.contents li {
	list-style-type: circle;
}
ul.contents a {
	text-decoration: none;
}
ul.contents a:hover, ul.contents a:active {
	text-decoration: underline;
}

hr.light {
	border: 0;
	color: #eee;
	background-color: #eee;
}

.icon-pending { list-style-image: url(Graphics/icon-ellipsis.png); }
.icon-locked { list-style-image: url(Graphics/icon-padlock.png); }
.icon-complete { list-style-image: url(Graphics/icon-tick.png); }
.icon-exception { list-style-image: url(Graphics/icon-person.png); }

#toc
{
	clear:right;
	margin-top: 2cm;
}

img.logo
{
	width: 191px;
	height: 71px;
	float: right;
}

div.header {
	background: white url(BluePrismLogo.gif) no-repeat top right;
	min-height: 5em;
}

div.captioned-image {
	border:1px solid #aaa;
	padding:7px;
	background-color:white;
}

div.overview-screenshot {
	width:400px;
	float:right;
	margin:0 0 0.5em 0.5em ;
}

div.section-screenshot {
	width: 200px;
	float: left;
	clear: left;
	margin: 0 0.5em 0.5em 0;
}

div.screenshot {
	width: 200px;
	float:right;
	clear:right;
	margin:0 0 0.5em 0.5em ;
}

body.tinyshot div.section-screenshot { width: 80px; }
body.task-ui div.screenshot { width: 100px; }

div.captioned-image img {
	width: 100%;
	border: none;
}

div.captioned-image p {
	font-size:smaller;
	font-weight: bold;
	margin: 0px auto;
	border-top: 1px dotted gray;
	padding-top: 0.5em;
}

div.imgzoom {
	padding: 0.5em;
	background-color: #dde;
	border: 1px solid #88b;
	-moz-border-radius: 5px;
}

div.section-indent {
	margin-left: 2.5em;
}

p.indented 
{
	margin-left: 1cm; 
	color: #716F64; 
	font-weight: normal;
}

.indented 
{
	margin-left: 1cm; 
}

p.bold
{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0;
	color: #716F64;
	
}

li.bold
{
	color: Olive;
	font-weight: bold;
}


ul.Indented, li.ul
{
	list-style-type: circle;
	margin-left: 2cm;
	color: #716F64;
	font-weight: normal;
}

ul.justthefactslady {
	list-style-type: none;
	margin-left: 1em;
	padding-left: 0;
}
ul.justthefactslady li p {
	margin-left: 1em;
}

ul.relatedtopics li a {
	text-decoration: none;
}
ul.relatedtopics li a:hover, ul.relatedtopics li a:active {
	text-decoration: underline;
}

h1
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: 250%;
	color: #4682b4;
	margin-right: 200px; /* Ensure the logo isn't overwritten */
}

h2
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	color: #4682b4;
	border-top: 1px solid #aaa;
	clear: both;
}

h3 
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	color: #4682b4;
	margin-bottom: 0em;
	margin-top: 2em;
}

body.slick h3, body.slick h4 { clear:none; margin: 1em 0;}
body.slick h3 { border-top: 1px solid #eee; padding-top: 0.3em;}
body.calendar h4 {margin-top:0;}

body.troubleshooting h5 { margin-top: 1em; padding-top: 1em; border-top: 1px solid #eee;}

h3#see-also { clear: both; }

ol.headed {
	margin-left: 0;
	padding-left: 1.5em;
}

h4, ol.headed>li, ol.headed>li>h4, ol.headed>li>h3
{
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	color: #4682b4;
	font-weight: bold;
}
ol.headed>li>h3 {
	font-size: 110%;
}
ol.headed>li>* {
	font-weight: normal;
	color: #716F64;
}
ol.headed>li>ul{
	padding-left:1em;
	list-style-type:disc
}


.clearer { clear: both !important; }

span.emphasis 
{
	text-decoration: underline;
}
em.buzzword { font-style: normal; text-decoration: underline; }

h5 {
	font-family: Arial, sans-serif;
	color: #504d42;
	margin-top: 3em;
	margin-bottom: 0;
}

a { color: #4682B4; }

dt {
	color: olive;
	width: 15em;
	float: left;
	font-weight: bold;
}

dl.Indented {
	margin-left: 1cm;
}

dd {
	display: table-row;
}

dl.listplease dt {
	float:none;
	width:auto;
}
dl.listplease dd {
	display: block;
	margin: 0 0 1em 1.5em;
	padding: 0;
}
dl.bulleted {
	counter-reset: list-item;
}
dl.bulleted dt {
	display: list-item;
	float: none;
	list-style-type: disc;
	margin-top: 1em;
	margin-left: 3.1em;
	padding-left: 0em;
	width: auto;
}
dl.bulleted dd {
	display: block;
	margin: 0.5em 0 0 6em;
}

/* Trying desparately to deal with dl.bulleted's inside ol's  */
ol.headed { counter-reset: item }
ol.headed li { list-style-type:none; clear:left;}
ol.headed li:before {
	counter-increment: item;
	content: counter(item) ")";
	float: left;
	width: 1.9em;
}

div.Highlighted
{
	background-color: #FFCC00;
	width: 80%;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	padding: 0.1cm;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}



table
{
	width: 100%;
		border: 1px solid #9fa4c1;
	empty-cells: show;
	border-collapse: collapse;
	background-color: #9fa4c1;
	font-family: Arial, Microsoft Sans Serif, sans-serif;
	font-size: small; 
}


td 
{
	border: 1px solid #9fa4c1;
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	background-color: white;
}

th
{
	color: white;
}

/* this makes sure that the 'edit' links (in the auto-generated wiki documentation
that we copy and paste), are not visible. */
.editsection 
{
	display: none;
}


table.wikitable Caption { font-size: 120%; font-weight: bold; color:Olive; text-align: left; }

.BPADataTypetext, .BPADataTypepassword { color: #008000; }

.BPADataTypenumber { color: #0000ff; }

.BPADataTypeflag { color: #39919f; }

.BPADataTypeflag { color: #8b0000; }

.BPADataTypecollection { color: #b339a9; }

.BPADataTypedatetime, .BPADataTypedate, .BPADataTypetime { color: #e0801f; } 
