section {
  padding-left: 102px;
}

h1 {
    font-weight: 500;
    color: #202124de;
}

h2 {
  font-weight: normal;
}

html, body {
  background-color: #fafafa;
  min-height: 100%;
  font-family: Roboto, "arial";
}

img {
  vertical-align: bottom;
}
.hidden {
  display: none;
}

button {
  background: inherit;
  border: none;
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  padding: 0;
  width: 100%;
}

/* ------------------------------------------ */

/* -------- Container ----------------------- */

.container {
  background-color: #fff;
  width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  color: #3c4043;
}

.clear {
  clear: both;
}


/* ------------------------------------------ */

/* -------- Archive summary styles ---------- */

.header {
  color: #222;
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 29px;
}

.header_title{
    margin-top: 0px;
    padding-top: 35px;
    font-size: 24px;
    border: 0px;
}

.header_subtext {
  font-size: 14px;
  color: #3c4043;
}

.archive-summary {
  line-height: 200%;
  font-size: 13px;
  color: #444;
  margin-bottom: 21px;
  margin-top: 82px;
  text-transform: uppercase;
}

.archive-summary a {
    color: #15c;
}

/* ------------------------------------------ */

/* -------- Service styles ------------------ */

.info {
  display: flex;
  height: calc(100vh - 180px);
  padding-bottom: 20px;
}

.service {
  min-height: 90px;
  padding: 1%;
  width: 100%;
  text-align: left;
  display: flex;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  align-items: center;
  border-color: rgba(0,0,0,0.15);
  margin: 12px 0px;
}

.service h1 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: #3c4043;
}

.service:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  background-color: #fcfcfc;
}

.service-image {
  margin: 12px;
  float:left;
}

.service-image img {
  height: 50px;
  width: 50px;
}

.service_error_image, .service_warning_image {
  display: inline;
  position: relative;
  float: right;
  top: 12px;
}

.service_error_image img, .service_error_image_tab img {
  height: 32px;
  width: 32px;
}

.service_warning_image img {
  height: 24px;
  width: 24px;
}

.service_warning_text {
  padding-top:6px;
  font-size: 13px;
  color: #e94235;
  float: left;
  position: relative;
  bottom: -34px;
  right: 23px;
}

.service_error_summary {
  margin-top: -16px;
  float: right;
  position: relative;
  bottom: -20px;
}

.service_summary {
  font-size: 14px;
  color: #3c4043;
  float:right;
  width: 70%;
  margin: auto;
  padding-left: 9px;
}

.selected .service {
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.service_tile_list {
  float: left;
  width: 22.3%;
  overflow-y: auto;
  border-right: 1px solid #ebebeb;
  padding-right: 41px;
  flex-shrink: 0;
}

.service_details {
  font-size: 14px;
  padding-top: 130px;
  margin-left: 35px;
  flex-grow: 1;
  overflow-y: auto;
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.service-header .service-image {
  margin-left: 0px;
}

.service-header h1{
  font-size: 16px;
  color: #1a73e8;
  margin-bottom:6px;
  margin-top: 0px;
  padding-top: 0px;
}

.service-header img {
  width: 64px;
  height: 64px;
}

.tab {
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  padding: 0px 10px;
  display: flex;
}

.content_tabs .selected{
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

.content_tabs {
  display: inline-flex;
  text-align: center;
  border-bottom: 1px solid #0000001f;
  font-size: 14px;
  color: #5f6368;
  width: 100%;
  margin-bottom: 40px;
}


.tab-content{
  padding: 5px 0px;
}

/* --------- Formats page styles ------------ */
.exported_object {
  margin-top: 30px;
  margin-bottom: 10px;
}

.object_name {
  font-size: 16px;
  font-weight: 500;
}

.export_format {
  padding-bottom: .8em;
  padding-left: 2em;
}

.format_name {
  font-size: 14px;
}

.description {
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.link-data {
  display: grid;
  margin-top:17px;
  margin-bottom:20px;
}

.link-data h1 {
  font-size: 16px;
}

.link-data a {
  text-decoration: none;
  font-size: 12px;
  color: #1a73e8;
  margin: 2px 0px;
}

.link-icon {
  float:left;
  margin-right:12px;
}

.link-icon img {
    height: 48px;
    width: 48px;
    margin-left: 13px;
    margin-top: 13px;
}

.link-container {
  display:flex;
  border: 1px solid #0000001f;
  border-radius: 5px;
  margin: 10px 0px;
  width: 80%;
}

.card-section-header {
  padding-top: 55px;
}

/* ------------------------------------------ */

/* -------- Extracted styles ---------------- */

.extracted-list {
  margin: 34px 0px;
}

.extracted-list div.table-row > div {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-size:14px;
  color:#222;
}
.extracted-list div.table-row {
  overflow: hidden;
}

.extracted-list .extracted-file-name {
  line-height: 22px;
  padding-right: 10px;
}

.extracted-list .extracted-folder {
  display: flex;
  align-items: center;
}

.extracted-list .extracted-folder:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.extracted-list .extracted-folder-name {
  padding-left: 5px;
}

.extracted-list .extracted-child {
  padding-left: 40px;
}


.service_details_error_image img {
  height: 25px;
  width: 25px;
}

.service_details_warning_image img {
  height: 19px;
  padding-right: 6px;
  width: 19px;
}

.content-link-warning {
  color: red;
  font-size: 12px;
}

.file-leaf {
  display:flex;
}
/* ------------------------------------------ */

/* -------- Failure styles ------------------ */

.failure-message {
  color: red;
  display: flex;
  align-items: center;

}

.failure-warning {
  margin: 20px 0px 40px 0px;
  font-size: 14px;
}

.failure-warning > :first-child {
  margin-left: -6px;
}
